:root{
    --mainColor1:#3a4e8c;
    --hovers:#aaaaaa;
    --sectionColor1:#e6f0f9;
    --sectionColor2:#f1f1f1;
    --sectionColor3:#ffffff;
    --scrollingColor:#e9e9e9;
    --footerColor:#242424;
    --subColor1:#ff6f91;
    --subColor3:#c4556f;
    --subColor2:#7edbff;

    --fontColor1:whitesmoke;
    --fontColor2:rgb(206, 206, 206);
    --fontColor3:#ff6f91;
}